<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GestionUsuarios</servlet-name>
        <servlet-class>Controlador.GestionUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionCampanas</servlet-name>
        <servlet-class>Controlador.GestionCampanas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionCiudades</servlet-name>
        <servlet-class>Controlador.GestionCiudades</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionSolicitudes</servlet-name>
        <servlet-class>Controlador.GestionSolicitudes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionCargo</servlet-name>
        <servlet-class>Controlador.GestionCargos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionLogin</servlet-name>
        <servlet-class>ControladorSesion.GestionLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionHojasDeVida</servlet-name>
        <servlet-class>Controlador.GestionHojasDeVida</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GestionUsuarios</servlet-name>
        <url-pattern>/GestionUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionCampanas</servlet-name>
        <url-pattern>/GestionCampanas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionCiudades</servlet-name>
        <url-pattern>/GestionCiudades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionSolicitudes</servlet-name>
        <url-pattern>/GestionSolicitudes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionCargo</servlet-name>
        <url-pattern>/GestionCargos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionLogin</servlet-name>
        <url-pattern>/GestionLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionHojasDeVida</servlet-name>
        <url-pattern>/GestionHojasDeVida</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/PaginaError404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/PaginaError500.jsp</location>
    </error-page>
</web-app>
