* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

}
body{
    width: 900px;
    margin: auto;
}
#logo{
    margin: auto;
    margin-top:0px;
    height: 181px;
    width: 200px;
    text-align: center;
    background-color: black;
    float:left;

}
#baner{
    margin:auto;
    margin-top:0px;
    height:180px;
    width:760px;
    text-align: center;
    background-color:black;
    float: left;

}

#contenedor{
    margin:auto;
    margin-left:0px;
    height:600px;
    width:900px;
    background-color:silver;

  }

#cssmenu {
    background: #333;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 12.5em;

}
#cssmenu li {
    font: 112% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;

}
#cssmenu a {
    background: #333;
    border-bottom: 2px solid #393939;
    color: #ccc;
    display: block;
    margin: 0;
    padding: 8px 12px;
    text-decoration: none;
    font-weight: normal;
}
#cssmenu a:hover {
    background: #2580a2 url("imagenes/hover.gif") left center no-repeat;
    color: #fff;
    padding-bottom: 8px;
}

section{
  margin-top:1px;
  height: 480px;
  width: 760px;
  background-color: blue;
  text-align: center;
  margin: auto;
  float:right;
}

#modelado{
    margin: auto;
    margin-top:110px;
    text-align: center;
   
}
#pie{
    margin-top: 13px;
    height: 35px;
    width: 960px;
    text-align: center;
    line-height: 40px;
    border-top: 3px solid black;
}
section{
	width:100%;
	min-height:400px;
	border:2px dotted blue;
	text-align:center;

}

label{ 

	display:block;

	margin-bottom: 15px;
}
	
input{
        
		margin-bottom: 15px;
		font-weight: bold;
}
input[type="radio"]{
	margin:auto;
	width: 30px;
	height: 15px;
}
#radio{
    margin:auto;
    margin-left:150px;
    height:50px;
    width:750px;
    background-color:silver;

  }


